.formsWrapper {
  max-width: 400px;
  height: 500px;
  background-color: white;
  margin: 100px auto;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  color: #2198e1;
  font-size: 25px;
}
.wrapperLabel {
  height: 50px;
}

.inputErrors {
  width: 240px;
  height: 30px;
  border-bottom: 1px solid rgba(255, 0, 0, 0.286);
  font-size: 25px;
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
}

.labelInput {
  display: flex;
  justify-content: space-between;
}

.input {
  width: 240px;
  height: 30px;
  font-size: 25px;
  border-top: none;
  border-right: none;
  border-left: none;
}
.inputDate {
  width: 240px;
  height: 38px;
  font-size: 25px;
}
.inputErrorDate {
  width: 240px;
  height: 38px;
  font-size: 25px;
}

.input:focus {
  outline: none;
  border-top: none;
  border-right: none;
  border-left: none;
}

.errorText {
  font-size: 12px;
  color: red;
  margin: 0;
}
/*radio*/
.wrapperRadio {
  display: flex;
  justify-content: space-evenly;
}
.radio {
  position: relative;
}
.radioInput {
  -webkit-: none;
  appearance: none;
  position: absolute;
}

.radioLabel {
  padding-left: 25px;
  font-size: 1 rem;
  /* color: #444; */
}

.radioLabel::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 2px solid #0000008a;

  background-color: #eaeef3;
  border-radius: 50%;

  position: absolute;
  top: 5px;
  left: 0px;
  z-index: 1;
  transition: border 0.1s linear;
}

.radioLabel::after {
  content: '';
  display: block;
  width: 11px;
  height: 11px;
  opacity: 0;

  background-color: #02346a;
  border-radius: 50%;

  position: absolute;
  top: 9px;
  left: 4px;
  z-index: 2;
  transition: opacity 0.1s linear;
}

.radioInput:checked + .radioLabel:before {
  border-color: #2198e1;
  /* border: 1px solid #ccc; */
}
.radioInput:checked + .radioLabel:after {
  opacity: 1;
  box-shadow: 0 0 5px 3px #2198e1;
}
